.idea
/node_modules
/src/resultKws
/src/resultKws/*.txt
/src/resultKws/*.zip
/src/resultTopApps/json
/src/resultTopApps/*.zip
/src/json/kws
/src/json/top_apps
/src/json/top_apps/*
package-lock.json
*.iml
out
gen

